<section id="sobre" class="w-100 vh-100 px-5">
    <h1 class="title">Sobre</h1>
    <div class="d-flex">
        <img src="" alt="Foto do Douglas" class="img-sobre b-radius me-5">
        <div class="fs-15 w-700">
            <p>Olá, eu sou Douglas, um estagiário de TI apaixonado por programação e tecnologia. Estudo programação há mais de um ano e atualmente estou aprimorando minhas habilidades no estágio que iniciei em Janeiro de 2023.</p>
            <p>Como um desenvolvedor em ascensão, possuo habilidades tanto em back-end como em front-end. No que diz respeito ao back-end, possuo conhecimentos em Java, Spring, NodeJS, Python, Django, API REST, Maven e SGBDs (MySQL, SQL Server), além de modelagem de dados. Já no front-end, possuo habilidades em HTML5, CSS3, JavaScript e TypeScript, bem como experiência com o framework Angular. Meu objetivo é sempre aprender mais e mais sobre essas tecnologias para me tornar um desenvolvedor ainda mais completo e preparado para enfrentar os desafios do mercado.</p>
            <p>No meu estágio, estou aprendendo muito com a equipe e buscando sempre contribuir com soluções criativas e inovadoras. Sou um profissional comprometido, responsável e sempre em busca de evolução, e acredito que isso se reflete no meu trabalho diário.</p>
            <p class="bold">Se você procura um desenvolvedor que esteja sempre buscando crescer e aprender mais, então você está no lugar certo. Vamos trabalhar juntos para criar soluções eficientes e inovadoras que atendam às necessidades do mercado.</p>
        </div>
    </div>
</section>