<nav id="nav" class="position-fixed top-0 start-0 d-flex d-none">
    <div class="d-flex flex-column nav-sticky fs-20">
        <a href="home#inicio" class="mb-3 a-nav">Início</a>
        <a href="home#sobre" class="mb-3 a-nav">Sobre</a>
        <a href="home#experiencia" class="mb-3 a-nav">Experiência</a>
        <a href="home#projetos" class="mb-3 a-nav">Projetos</a>
        <a href="home#contatos" class="mb-3 a-nav">Contatos</a>
        <a href="" class="a-nav">Currículo</a>
    </div>
    <button class="btn-nav b-radius d-flex flex-column justify-content-center align-items-center">
        <div class="icon-btn r-1"></div>
        <div class="icon-btn"></div>
        <div class="icon-btn r-3"></div>
    </button>
</nav>