.bg-image {
    background-image: url("/assets/images/container_apresentação_bk.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.mascara {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(3, 43, 48, 0) 0%, #032B30 100%);
}

.mb-60{
    margin-bottom: 60px;
}

.w-600{
    width: 635px;
}

.b-nav{
    border-width: 0px 3px 3px 0px ;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 0px 0px 8px 0px;
}
.p-nav {
    padding: 0px 60px 48px 0px;
}
.a-nav{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}.a-nav:hover{
    opacity: 0.70;
}

.img-logo{
    opacity: 0.35;
}